body{
    position: relative;
    margin: 0%;
    padding: 0%;
}
a{
    color: black;
}
header{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
nav .text-white{
    font-size: 2em;
}
.fa-cart-plus{
    color: white;
    font-size: 1.5em;
    margin-right: 5%;
    margin-bottom: 10px;
}
main{
    margin-top: 100px;
    z-index: 99;
}
button{
    margin: 50px auto;
}
.card-img-top{
    height: 150px;
    width: 250px;
}
img{
    object-fit: scale-down;
}
.card{
    width: 250px;
    height: 150px;
    border: none;
}
.card-body{
    display: flex;
    height: 50px;
    padding-top: 5%;
    justify-content: center;
}
.fa-plus{
    font-size: 18px;
    color: white;
    margin-left: 3%;
}
.item_amount{
    margin-left: 2px;
}

.up, .down {
    cursor: pointer;
}
.up:active, .down:active{
    color: blue;
}
nav{
    position: relative;
}
#cartnumber{
    position: absolute;
    border:2px solid white;
    background-color: white;
    border-radius:50%;
    padding: 3px;
    font-size: 0.6em;
    color: black;
    right:8px;
    top: 0;
}
.center{
   text-align: center;
}
